<?xml version="1.0"?>
<config>
	<soap>
		<login>testSelgrosESF</login>
		<password>9c7e70b6</password>
	</soap>
	<soap>
		<login>testSelgrosConvESF</login>
		<password>5683b9b9</password>
	</soap>
	<rest>
		<login>testSelgrosESF</login>
		<password>c1be0442</password>
	</rest>
	<cryptex>
		<alias>exite2016</alias>
		<password>null</password>
		<signer using="cert"><!-- cert/config -->
			<signer_org_inn>3313311833</signer_org_inn>
			<signer_name>Михан</signer_name>
			<signer_surName>Левицкий</signer_surName>
			<signer_orgUnit>Старший специалист по работе работы</signer_orgUnit>
		</signer>
	</cryptex>
	<logger>
		<logger>/home/levitsky/JavaIDE/J2EE/SoapAPIJConnector/log/</logger>
	</logger>
</config>